@model IEnumerable<Detalle>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Importe)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.FacturaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factura.FacturaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.LongDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DetalleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DetalleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DetalleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
