@model Inventario.Models.Producto

@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proveedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proveedor.Address)
        </dd>
    </dl>
    
    <form asp-action="test">
        <input type="hidden" asp-for="ProductoId" />
        <input type="submit" value="Delete" class="nounderline btn-flat" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
